TeacherUtilityBelt/obj/Debug/net7.0/project.razor.vscode.bin
TeacherUtilityBelt/obj/Debug/net7.0/TeacherUtilityBelt.csproj.AssemblyReference.cache
TeacherUtilityBelt.Core/bin/Debug/net7.0/TeacherUtilityBelt.Core.dll
TeacherUtilityBelt.Core/bin/Debug/net7.0/TeacherUtilityBelt.Core.pdb
TeacherUtilityBelt.Core/obj/Debug/net7.0/TeacherUtilityBelt.Core.dll
TeacherUtilityBelt.Core/obj/Debug/net7.0/TeacherUtilityBelt.Core.pdb
TeacherUtilityBelt.Infrastructure/bin/Debug/net7.0/TeacherUtilityBelt.Core.dll
TeacherUtilityBelt.Infrastructure/bin/Debug/net7.0/TeacherUtilityBelt.Core.pdb
TeacherUtilityBelt.Infrastructure/obj/Debug/net7.0/TeacherUtilityBelt.Infrastructure.assets.cache
TeacherUtilityBelt.Infrastructure/obj/Debug/net7.0/TeacherUtilityBelt.Infrastructure.csproj.AssemblyReference.cache
TeacherUtilityBelt.Infrastructure/obj/Debug/net7.0/TeacherUtilityBelt.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
TeacherUtilityBelt.Test/bin/Debug/net7.0/TeacherUtilityBelt.Core.dll
TeacherUtilityBelt.Test/bin/Debug/net7.0/TeacherUtilityBelt.Core.pdb
TeacherUtilityBelt.Test/obj/Debug/net7.0/TeacherUtilityBelt.Test.csproj.AssemblyReference.cache
TeacherUtilityBelt/obj/Debug/net7.0/project.razor.vscode.bin
TeacherUtilityBelt/obj/Debug/net7.0/TeacherUtilityBelt.csproj.AssemblyReference.cache
TeacherUtilityBelt.Core/bin/Debug/net7.0/TeacherUtilityBelt.Core.dll
TeacherUtilityBelt.Core/bin/Debug/net7.0/TeacherUtilityBelt.Core.pdb
TeacherUtilityBelt.Core/obj/Debug/net7.0/TeacherUtilityBelt.Core.dll
TeacherUtilityBelt.Core/obj/Debug/net7.0/TeacherUtilityBelt.Core.pdb
TeacherUtilityBelt.Infrastructure/bin/Debug/net7.0/TeacherUtilityBelt.Core.dll
TeacherUtilityBelt.Infrastructure/bin/Debug/net7.0/TeacherUtilityBelt.Core.pdb
TeacherUtilityBelt.Infrastructure/obj/Debug/net7.0/TeacherUtilityBelt.Infrastructure.assets.cache
TeacherUtilityBelt.Infrastructure/obj/Debug/net7.0/TeacherUtilityBelt.Infrastructure.csproj.AssemblyReference.cache
TeacherUtilityBelt.Infrastructure/obj/Debug/net7.0/TeacherUtilityBelt.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
TeacherUtilityBelt.Test/bin/Debug/net7.0/TeacherUtilityBelt.Core.dll
TeacherUtilityBelt.Test/bin/Debug/net7.0/TeacherUtilityBelt.Core.pdb
TeacherUtilityBelt.Test/obj/Debug/net7.0/TeacherUtilityBelt.Test.csproj.AssemblyReference.cache
TeacherUtilityBelt.Test/obj/*
TeacherUtilityBelt.Test/bin/*
TeacherUtilityBelt.Infrastructure/obj/*
TeacherUtilityBelt.Infrastructure/bin/*
TeacherUtilityBelt.Core/obj/*
TeacherUtilityBelt.Core/bin/*
TeacherUtilityBelt/obj/Debug/net7.0/project.razor.vscode.bin
TeacherUtilityBelt.Core/bin/Debug/net7.0/TeacherUtilityBelt.Core.dll
TeacherUtilityBelt.Core/bin/Debug/net7.0/TeacherUtilityBelt.Core.pdb
TeacherUtilityBelt.Core/obj/Debug/net7.0/TeacherUtilityBelt.Core.dll
TeacherUtilityBelt.Core/obj/Debug/net7.0/TeacherUtilityBelt.Core.pdb
TeacherUtilityBelt.Infrastructure/bin/Debug/net7.0/TeacherUtilityBelt.Core.dll
TeacherUtilityBelt.Infrastructure/bin/Debug/net7.0/TeacherUtilityBelt.Core.pdb
TeacherUtilityBelt.Infrastructure/obj/Debug/net7.0/TeacherUtilityBelt.Infrastructure.assets.cache
TeacherUtilityBelt.Infrastructure/obj/Debug/net7.0/TeacherUtilityBelt.Infrastructure.csproj.AssemblyReference.cache
TeacherUtilityBelt.Infrastructure/obj/Debug/net7.0/TeacherUtilityBelt.Infrastructure.csproj.FileListAbsolute.txt
TeacherUtilityBelt.Infrastructure/obj/Debug/net7.0/TeacherUtilityBelt.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
TeacherUtilityBelt.Test/bin/Debug/net7.0/TeacherUtilityBelt.Core.dll
TeacherUtilityBelt.Test/bin/Debug/net7.0/TeacherUtilityBelt.Core.pdb
TeacherUtilityBelt.Test/obj/Debug/net7.0/TeacherUtilityBelt.Test.csproj.AssemblyReference.cache
TeacherUtilityBelt/obj/Debug/net7.0/project.razor.vscode.bin
TeacherUtilityBelt.Core/bin/Debug/net7.0/TeacherUtilityBelt.Core.dll
TeacherUtilityBelt.Core/bin/Debug/net7.0/TeacherUtilityBelt.Core.pdb
TeacherUtilityBelt.Core/obj/Debug/net7.0/TeacherUtilityBelt.Core.dll
TeacherUtilityBelt.Core/obj/Debug/net7.0/TeacherUtilityBelt.Core.pdb
TeacherUtilityBelt.Infrastructure/bin/Debug/net7.0/TeacherUtilityBelt.Core.dll
TeacherUtilityBelt.Infrastructure/bin/Debug/net7.0/TeacherUtilityBelt.Core.pdb
TeacherUtilityBelt.Infrastructure/obj/Debug/net7.0/TeacherUtilityBelt.Infrastructure.assets.cache
TeacherUtilityBelt.Infrastructure/obj/Debug/net7.0/TeacherUtilityBelt.Infrastructure.csproj.AssemblyReference.cache
TeacherUtilityBelt.Infrastructure/obj/Debug/net7.0/TeacherUtilityBelt.Infrastructure.csproj.FileListAbsolute.txt
TeacherUtilityBelt.Infrastructure/obj/Debug/net7.0/TeacherUtilityBelt.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
TeacherUtilityBelt.Test/bin/Debug/net7.0/TeacherUtilityBelt.Core.dll
TeacherUtilityBelt.Test/bin/Debug/net7.0/TeacherUtilityBelt.Core.pdb
TeacherUtilityBelt.Test/obj/Debug/net7.0/TeacherUtilityBelt.Test.csproj.AssemblyReference.cache
