@model int 

@{
    ViewData["Title"] = "Grid Generation";
    string[][] grid = new string[Model][];

    for (int i = 0; i < Model; i++)
    {
        grid[i] = new string[Model];
    }
}

<form asp-controller="FindWord" asp-action="GridGeneration">
    <table class="small_table">
    @for(int i = 0; i < Model; i++)
    {
        <tr>
        @for(int j = 0; j < Model; j++)
        {
            <td>
                <label class="label"></label>        
                <input type="text" name=\"@{string.Format("grid_{0}{1}",i,j);}\" value="" class="single_char_textbox"/>
            </td>    
        }
        </tr>
    }
    </table>
</form>

<form asp-controller="FindWord" asp-action="GetDictionaryWord">
<input type="text" name="txtSearchedWord" class="textbox" />
<button value="Submit" />
</form>



ReactDOM.render(<CommentBox />, document.getElementById('content'));
