@using TeacherUtilityBelt.Core.Domain
@model GridAnswerResponse 

@{
    ViewData["Title"] = "Find Word";
}

<form asp-controller="FindWord" asp-action="RandomGridGeneration">
    <div>
        <label class="label">Enter Random grid dimension: </label> <input type="text" value="" name="dimension" class="textbox"  />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>


<form asp-controller="FindWord" asp-action="GridGeneration">
    <div>
        <label class="label">Enter custom grid dimension: </label> <input type="text" value="" name="dimension" class="textbox"  />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>