@using TeacherUtilityBelt.Core.Domain
@model GridAnswerResponse 

@{
    ViewData["Title"] = "Find Word";
}

<form asp-controller="FindWord" asp-action="GirdGeneration">
    <div>
        <label class="label">Enter grid dimension: </label> <input type="text" value="" name="dimension" class="textbox"  />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>