@using TeacherUtilityBelt.Core.Domain
@model GridAnswerResponse 

@{
    ViewData["Title"] = "Random Grid Generation";
}

<table class="table">
@for(int i = 0; i < Model.Grid.Length; i++)
{
    <tr>
    @for(int j = 0; j < Model.Grid[i].Length; j++)
    {
        <td>@Model.Grid[i][j]</td>
    }
    </tr>
}
</table>

@foreach(var entry in Model.GridAnswer)
{
    <p>
    <div>Found word: @entry.Key</div>
    <div>Grid Location: @foreach (var c in entry.Value)
                        {
                        <label class="coordinate">@c.ToString()</label>
                        }
    </div>
    </p>
}